<mat-toolbar fixedInViewport="true" style="background-color: #2b2d42;">
    <mat-icon 
   [@rotatedState]="iconState" 
    (click)="toggleIcon()" >menu</mat-icon>
    <span>My App</span>
    <span class="example-spacer"></span>
    <mat-icon>favorite</mat-icon>
    <mat-icon>share</mat-icon>
</mat-toolbar>
<mat-sidenav-container >
    <mat-sidenav style="background-color: #8d99ae;" [(opened)]="opened" mode="side" fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list >
            <a routerLink="/home" mat-list-item >
                <mat-icon>assessment</mat-icon> 
                Inicio
            </a>
            <a routerLink="/clientes" mat-list-item >
                <mat-icon>assignment_ind</mat-icon>
                Clientes
            </a>
            <a routerLink="/contact" mat-list-item >
                <mat-icon>perm_phone_msg</mat-icon>
                Contato
            </a>
            <a routerLink="/about" mat-list-item >
                <mat-icon>zoom_in</mat-icon>
                Sobre
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>  
