<h1>Sobre mim</h1>
<div class="conteiner">
    <img src="/assets/imgs/robot-hand.jpg" alt="">
    <div class="geometric">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            A rerum, officiis, animi repellat doloremque inventore soluta provident
            corrupti unde nesciunt nihil obcaecati recusandae minus reiciendis modi 
            non magnam sed veritatis.
        </p>
    </div>
    
</div>
<div class="conteiner-2">
    
    <div class="geometric-2">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            A rerum, officiis, animi repellat doloremque inventore soluta provident
            corrupti unde nesciunt nihil obcaecati recusandae minus reiciendis modi 
            non magnam sed veritatis.
        </p>
    </div>
    <img src="/assets/imgs/robot-hand.jpg" alt="">
</div>