<mat-toolbar style="background-color: #27374D;">
    <mat-icon (click)="opened=!opened">menu</mat-icon>
    <span>My App</span>
    <span class="example-spacer"></span>
    <mat-icon>favorite</mat-icon>
    <mat-icon>share</mat-icon>
</mat-toolbar>
<mat-sidenav-container >
    <mat-sidenav style="background-color: #526D82;" [(opened)]="opened" mode="side" fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list >
            <a routerLink="/" mat-list-item >Home</a>
            <a routerLink="/clientes" mat-list-item >Workers</a>
            <a routerLink="/" mat-list-item >Chart</a>
            <a routerLink="/contact" mat-list-item >Contact</a>
            <a routerLink="/about" mat-list-item >About</a>
            <a routerLink="/" mat-list-item >Home</a>
            <a routerLink="/" mat-list-item >Home</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>  