.example-spacer {
    flex: 1 1 auto;
  }
mat-sidenav{
    width: 200px;
}
.content {
  padding: 16px;
  background-color: #DDE6ED;
  height: 100%;
}
mat-icon {
  cursor: pointer;
}
.example-header-image {
  background-size: cover;
}