<mat-toolbar>
    <mat-icon (click)="opened=!opened">menu</mat-icon>
    <span>My App</span>
    <span class="example-spacer"></span>
    <mat-icon>favorite</mat-icon>
    <mat-icon>share</mat-icon>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="side" fixedInViewport="true" fixedTopGap="64">
        <a routerLink="/home" mat-list-item >Home</a>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>  