<div class="card-container">
    <div class="card-wrapper">
        <mat-card class="main-card" color="accent">
            <mat-card-content>
                <h1>Cadastre seus dados logo a baixo</h1>
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                        <mat-label>Digite seu primeiro nome</mat-label>
                        <input matInput placeholder="Digite o nome" required>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Digite seu sobrenome</mat-label>
                        <input matInput placeholder="Digite o sobrenome" required>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Entre com seu email</mat-label>
                        <input matInput placeholder="pat@example.com" [formControl]="email" required>
                        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Digite uma senha</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <button mat-button class="btn" color="">Cadastrar</button>
                    <p><a routerLink="/login">Cancelar</a></p>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>