<div class="main-content">
  <header class="header">
    <h1>Welcome to the Dashboard</h1>
  </header>

  <section class="cards">
    <mat-card class="example-card hight-cards">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"><mat-icon>cached</mat-icon></div>
        <mat-card-title>100</mat-card-title>
        <mat-card-subtitle>Dowloads</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content >
        <p>
            Estes são dados ficticios
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card hight-cards">
      <mat-card-header >
        <div mat-card-avatar class="example-header-image"><mat-icon>account_box</mat-icon></div>
        <mat-card-title *ngIf="clientService.numberOfIds > 0">{{clientService.numberOfIds }}</mat-card-title>
        <mat-card-subtitle>Usuarios cadastrados</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content style="background-color: #03C988;;">
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card hight-cards">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"><mat-icon>file_download</mat-icon></div>
        <mat-card-title>100</mat-card-title>
        <mat-card-subtitle>Dowloads</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content >
        <p>
            Estes são dados ficticios
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card hight-cards">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"><mat-icon>file_download</mat-icon></div>
        <mat-card-title>100</mat-card-title>
        <mat-card-subtitle>Dowloads</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content >
        <p>
            Estes são dados ficticios
        </p>
      </mat-card-content>
    </mat-card>
  </section>


  <div class="grid-container">        
    <mat-card><app-charts></app-charts></mat-card>
    
    <div class="bottom-section">
      <div class="item">
        <app-chart-pie></app-chart-pie>
      </div>
      <div class="item">
        <h2>Ultimos usuarios cadastrados</h2>
        <p>Content of Column 2</p>
      </div>
    </div>
  </div>
  
</div>

