<h1>Tarefas > Atualizar Tarefa</h1>
<mat-card style="padding: 20px; background-color: #f4f6f7;">
  <mat-card-content>Atualize sua tarefa</mat-card-content>
  <form class="example-form" >
    <mat-form-field class="example-full-width">
        <mat-select name="name" [(ngModel)]="task.cliente.id">
            <mat-option *ngFor="let c of clientes" [value]="c.id">
              {{ c.name }}
            </mat-option>
          </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-wi'dth">
      <mat-label>Nome da Tarefa</mat-label>
      <input matInput name="nomeTarefa" [(ngModel)]="this.task.nomeTarefa" >
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-select matInput name="status" [(ngModel)]="this.task.status" >
        <mat-option [value]="true">Ativo</mat-option>
        <mat-option [value]="false">Inativo</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-card-actions>
      <button mat-raised-button class="deletar" (click)="updateTask()">Atualizar</button>
      <button mat-raised-button (click)="onCancel()">Cancelar</button>
    </mat-card-actions>
  </form>
</mat-card>
