<div class="card-container">
  <div class="card-wrapper">
    <mat-card *ngIf="userProfile" class="card-central"
      style="margin-top: 20px; padding: 20px; background-color: white;">
      <h1>Altera senha</h1>
      <form class="example-form">
        <!-- Digite a senha atual -->
        <mat-form-field class="example-full-width">
          <mat-label>Digite sua senha atual</mat-label>
          <input matInput [(ngModel)]="oldPassword" name="oldPassword" [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
      
        <!-- Digite a nova senha -->
        <mat-form-field class="example-full-width">
          <mat-label>Digite a nova senha</mat-label>
          <input matInput [(ngModel)]="newPassword" name="newPassword" [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
      
        <!--<mat-form-field class="example-full-width">
          <mat-label>Repita a nova senha</mat-label>
          <input matInput [(ngModel)]="confirmPassword" name="newPassword" [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>-->
      
        <button mat-raised-button (click)="cancel()">Voltar</button>
        <button mat-raised-button (click)="changePassword()">Salvar</button>
      </form>

    </mat-card>
  </div>
</div>