<div class="section">
  <div class="container">
    <div class="content-section">
      <div class="title">
        <h1>Sobre mim</h1>
      </div>
        <div class="content">
          <h3>Lorem ipsum</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
             Natus quasi voluptate porro! Cum quisquam voluptates, quia esse cupiditate porro consectetur tempore rerum itaque.
             Officia harum officiis explicabo cumque quibusdam dicta?
          </p>
          <div class="button">
            <a href="">Read more</a>
        </div>
    </div>
  </div>
</div>