.example-form {
    
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
    background-color: white;
  }
  
  td {
    padding-right: 8px;
  }
  ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #aec3d0;
    color:black
}
input{
  color:black
}
.card-central{
  width: 940px;
  display: flex;
  margin: 0 auto;
  color:black
}
.card-central:hover{
  background-color: aqua;
}